.title_liste {
  text-align: center;
  height: 77px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 77px;
  letter-spacing: -0.04em;
  color: #000000;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
}

.avatarcrud {
  width:50px;
  height: 50px;
  border-radius: 100%;
}

th,
td {

  margin-top: 20px;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #cdd2ef;
  border-collapse: collapse;
}

table{
  border-radius: 16px;
}

.btnadd {
  text-align: center;
  width: 250px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-50%);
  color: white;
  background-color: rgb(0, 67, 162);
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
}

.titre {
  margin-left: 20px;
}

.textcont {
  resize: none;
}

p.short {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a.btn {
  display: block;
  padding: 10px;
  color: rgb(3, 0, 156);
  text-decoration: none;
  padding-left: 15px;
  font-size: 24px;
}
a.btn.btn-active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a.btn.btn-success {
  color: rgb(0, 159, 3);
  text-decoration: none;
  padding-left: 17px;
}

a.btn.btn-danger {
  color: rgb(132, 0, 0);
  text-decoration: none;
  padding-left: 17px;
}

a.btn:hover {
  opacity: 80%;
  color: black;
}

.crudimage{
  width: 200px;
  height: auto;
}